In [19]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn import svm
from sklearn.metrics import accuracy_score

### **Loading the dataset into heart_data**

In [20]:
heart_data = pd.read_csv('heart.csv')

In [21]:
heart_data.head()

,age,sex,cp,trtbps,chol,fbs,restecg,thalachh,exng,oldpeak,slp,caa,thall,output
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [22]:
heart_data.tail()

,age,sex,cp,trtbps,chol,fbs,restecg,thalachh,exng,oldpeak,slp,caa,thall,output
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3,0
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0

In [23]:
heart_data.shape

(303, 14)

In [24]:
heart_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 303 entries, 0 to 302
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       303 non-null    int64
 1   sex       303 non-null    int64
 2   cp        303 non-null    int64
 3   trtbps    303 non-null    int64
 4   chol      303 non-null    int64
 5   fbs       303 non-null    int64
 6   restecg   303 non-null    int64
 7   thalachh  303 non-null    int64
 8   exng      303 non-null    int64
 9   oldpeak   303 non-null    float64
 10  slp       303 non-null    int64
 11  caa       303 non-null    int64
 12  thall     303 non-null    int64
 13  output    303 non-null    int64
dtypes: float64(1), int64(13)
memory usage: 33.3 KB

#### **Droping 'oldpeak', 'slp', 'thall' and storing data into x,storing 'traget' values in y.**

In [25]:
x = heart_data.drop(['oldpeak','slp','thall','output'], axis=1)
y = heart_data['output']

In [26]:
print(x)

     age  sex  cp  trtbps  chol  fbs  restecg  thalachh  exng  caa
0     63    1   3     145   233    1        0       150     0    0
1     37    1   2     130   250    0        1       187     0    0
2     41    0   1     130   204    0        0       172     0    0
3     56    1   1     120   236    0        1       178     0    0
4     57    0   0     120   354    0        1       163     1    0
..   ...  ...  ..     ...   ...  ...      ...       ...   ...  ...
298   57    0   0     140   241    0        1       123     1    0
299   45    1   3     110   264    0        1       132     0    0
300   68    1   0     144   193    1        1       141     0    2
301   57    1   0     130   131    0        1       115     1    1
302   57    0   1     130   236    0        0       174     0    1

[303 rows x 10 columns]

In [27]:
print(y)

0      1
1      1
2      1
3      1
4      1
      ..
298    0
299    0
300    0
301    0
302    0
Name: output, Length: 303, dtype: int64

### **Spliting dataset into training and testing parts.**

In [28]:
x_train,x_test,y_train, y_test = train_test_split(x,y, test_size=0.2, stratify=y, random_state=2)

## **For Logistic Regression**

In [29]:
LR_model = LogisticRegression()
LR_model.fit(x_train, y_train)

C:\Users\Dhruvil\AppData\Local\Programs\Python\Python39\lib\site-packages\sklearn\linear_model\_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [30]:
LR_test_prediciton = LR_model.predict(x_test)
LR_test_accuracy = accuracy_score(LR_test_prediciton, y_test)
print(LR_test_accuracy)

0.7704918032786885

## **For Decision Tree Classifier**

In [31]:
DTC_model = DecisionTreeClassifier()
DTC_model.fit(x_train, y_train)
DTC_test_prediction = DTC_model.predict(x_test)
DTC_test_accuracy = accuracy_score(DTC_test_prediction, y_test)
print(DTC_test_accuracy)

0.6557377049180327

## **For Random Forest Classifier**

In [32]:
RFC_model = RandomForestClassifier()
RFC_model.fit(x_train, y_train)
RFC_test_prediciton = RFC_model.predict(x_test)
RFC_test_accuracy = accuracy_score(RFC_test_prediciton, y_test)
print(RFC_test_accuracy)

0.6557377049180327

## **For K Nearest Neighbour**

In [33]:
KNN_model = KNeighborsClassifier(n_neighbors=12)
KNN_model.fit(x_train, y_train)
KNN_test_prediciton = KNN_model.predict(x_test)
KNN_test_accuracy = accuracy_score(KNN_test_prediciton, y_test)
print(KNN_test_accuracy)

0.6065573770491803

## **For SVM**

In [34]:
SVM_model = svm.SVC(kernel='linear')
SVM_model.fit(x_train, y_train)
SVM_test_prediciton = SVM_model.predict(x_test)
SVM_test_accuracy = accuracy_score(SVM_test_prediciton, y_test)
print(SVM_test_accuracy)

0.7540983606557377